* {
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2874A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #f5ce52;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    
}

.resulColon {

    background-color: beige;
    padding: 5px 12px;
    border-radius: 20px;
    border-color: black;
}


input {

        border: 0;
        font-size: 30px;
        text-align: right;
}

.btnConvertir {

    color: black;
    background: #f5ce52;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 12px;
}